[Unit]
Description=Video server auth checker
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=30
ExecStart=/home/jelson/projects/videoserver/auth/videoauth.py --config /home/jelson/.config/videoserver/config.yaml
User=jelson

[Install]
WantedBy=multi-user.target
