[Unit]
Description=Video server auth checker
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=30
ExecStart=uwsgi --ini /home/jelson/projects/videoserver/conf/uwsgi-videoauth.conf --stats 127.0.0.1:9191
User=jelson

[Install]
WantedBy=multi-user.target

